<!doctype html>  
<html lang="es" ng-app="motor" class="full_height">
<head>  
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="resources/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="style.css" />
	<title>Copsa</title>
	<link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
</head>  
<body ng-controller="inicioCtrl" class="page_box" style="width: 100%;">
	<div ng-include="'menu_1.html'"></div>
	<div class="home_banner">
		
	</div>

	<div class="home_icons container">
		 <div class="row" style="height:100%;">
			<a href="horarios.html">
			  	<div class="col-sm-3 icon_text fast_1" style="height:100%;">
			  		<img src="img/icon_01.png" class="icon_size">
				</div>
			</a>
			<a href="reservas.html">
			  	<div class="col-sm-3 icon_text fast_2" style="height:100%;">
					<img src="img/icon_02.png" class="icon_size">
				</div>
			</a>
			<a href="seguimiento.html">
			  	<div class="col-sm-3 icon_text fast_3" style="height:100%;">
					<img src="img/icon_03.png" class="icon_size">
				</div>
			</a>
			<a href="paradas.html">
			  	<div class="col-sm-3 icon_text fast_4" style="height:100%;">
					<img src="img/icon_04.png" class="icon_size">
				</div>
			</a>
		</div> 
	</div>

	<!-- Modal -->
	<div class="modal fade" id="login" role="dialog">
		<div class="modal-dialog modal-sm">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Ingresar</h4>
				</div>
				<div class="modal-body">
					<form name="myForm" ng-submit="ingresar()">
						<label>
					       Nombre:
					       <input class="form-control" type="text" name="userName" ng-model="nombre">
					    </label><br/>
					    <label>
					       Contraseña:
					       <input class="form-control" type="password" name="userPass">
					    </label>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="ingresar()">Aceptar</button>
				</div>
			</div>

		</div>
	</div>

	<script src="resources/jquery-2.0.3.min.js"></script>
	<script src="resources/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<script src="resources/angular-1.5.8.min.js"></script>
	<script src="resources/angular-route.js"></script>
	<script src="resources/ngStorage.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/inicio.js"></script>
</body>  
</html>